@import "vars";
@import "objects";

body {
  font-family: ProximaNovaSoft-Regular, avenir, helvetica, sans-serif;
  color: $body-font-color;
}

a {
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
}

.poo {
  border: 1px solid red;
  border-radius: $brand-round;
 
}
.bump {
  margin-bottom: 5em;
}

.bump-right {
  margin-right: 1em;
}

.nav-main {
  height:$topbar-height;
  background-color: #fff;
}

.nav-main__links {
  color: $link-color!important;
  text-transform: uppercase;
}

.hero {
  background: url(../img/hero-bg.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 6*$padding 0;
  min-height: 500px;
  color: #fff;
  h1 {
    color: #fff;
    text-shadow: 1px 1px 8px #000;
  }
  span {
    text-shadow: 1px 1px 4px #000;
  }
}

.btn--cta {
  color: #fff;
  width:70%;
  border-radius: 2px;
  background: #F9650A;
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.11) 12%, rgba(180,180,180,0.12) 46%, rgba(127,127,127,0.13) 100%);
}

.testimonial {
  background: #f7f7f7;
  background-image: linear-gradient(-180deg, rgba(230,230,230,0.2) 0%, rgba(255,255,255,0.4) 7%, rgba(247,247,247,0.8) 94%, #EAEAEA 100%);
  padding: 2*$base-spacing-unit 0;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.footer {
  h4 {
    margin: 0 0 .2*$padding 0; 
    padding: 0;
  }
  ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
  }
}

.footer--out {
  border-top: 1px solid #d4d4d4;
   background-image: linear-gradient(-180deg, rgba(230,230,230,0.2) 0%, rgba(255,255,255,0.4) 7%, rgba(247,247,247,0.8) 94%, #EAEAEA 100%);
}

.divider {
  border-top: 1px solid $color-border;
  background-image: linear-gradient(-180deg, rgba(230,230,230,0.2) 0%, rgba(255,255,255,0.4) 7%);
}

.org {
  opacity: .5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  &:hover {
    opacity: 1;
  }
}

.explore {
  background-color: #f8f8f8;
}
.explore-row {
  padding-top: $padding*5;
}

.donor-grid {
  ul {
    @extend .milli;
  }
}

.overflow {
  overflow: hidden;
}

.detail--image {
  height: 250px;
  width: 600px;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.15);
}

.default--image {
  border: 6px solid #fff!important;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,.15)!important;
}

.expense--legend { 
  position: relative;
  top: -95px;
  margin-bottom: $padding;
}
.legend--title {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.expense {
  position: relative;
  top: -145px;
  @extend .alpha;
  span {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

.color--program {
  text-align: left;
  width: 25px;
  height: 25px;
  background-color: $color-programs;
  display: inline-block;
  vertical-align: bottom;
}

.color--expense {
 text-align: left;
  width: 25px;
  height: 25px;
  background-color: $color-expenses;
  display: inline-block;
  vertical-align: bottom; 
}

// MIXITUP STUFF HERE
#Container .mix{
  display: none;
}



