$body-bg: #ffffff;
$body-font-color: #909090;
$heading-color: #676d72;
$link-color: #329cc1;
$body-font-family: ProximaNovaSoft-Regular, avenir, helvetica, sans-serif;
$color-border: #d4d4d4;
$color-camp: #D4CD61;
$color-org: #FF7596;
$color-dkgray: #545454;

$brand-round: 3px;
$padding: 1em;

$base-spacing-unit: 2em;
$half-spacing-unit: $base-spacing-unit/2;

$color-programs: #48b747;
$color-expenses: #e0e0e0;

$color-blue: #277b95;